{% extends 'base.html.twig' %}

                {% block body %}

                    {{ form_start(form) }}
                    {{ form_row(form.email, {'label': 'Email', 'attr':{'placeholder':'Email' }})}}
                    {{ form_row(form.username, {'label': 'Username', 'attr':{'placeholder':'Username' }})}}
                    {{ form_row(form.password, {'label': 'Password', 'attr':{'placeholder':'Password' }})}}
                    {{ form_row(form.confirm_password, {'label': 'Confirm Password', 'attr':{'placeholder':'Confirm Password' }})}}

                    <button type = "submit" class="btn btn-success">S'inscrire !</button>
                    {{ form_end(form) }}


                {% endblock %}
