{# Extension du modèle base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre #}
{% block title %}CampingCar Location {% endblock %}

{# Corps #}
{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col m6 offset-m3">
                    <h1>Recherche par Prix</h1>
                    {# Formulaire de recherche par prix pour les camping cars #}
                    {{ form(search_form) }}
                </div>
            </div>
            {# Si méthode == POST #}
            {% if app.request.method == 'POST' %}
                <div class="row">
                    <div class="col m6 offset-m3">
                        {# Si pas de camping cars #}
                        {% if campingcars|length == 0 %}
                            <tr>
                                <td colspan="8">Aucun CampingCar correspond à votre recherche</td>
                            </tr>
                        {# Sinon (=si il y a un ou plusieurs camping cars) #}
                        {% else %}
                            <h2>Résultats de votre Recherche</h2>
                            <div class="container">
                                <div class ="row">
                                    {# Boucle for parcourant tous les camping cars de la Table camping_car #}
                                    {% for camping_car in campingcars %}
                                        <div class='col-md-4'>
                                            {# Si un utilisateur est connecté #}
                                            {% if app.user %}
                                                {# Bouton permettant de modifier un camping car #}
                                                <a class="btn btn-warning" href="{{ path('camping_car_edit', {'id': camping_car.id}) }}" role="button">Modifier</a>
                                            {% endif %}
                                            {# Images des camping cars, on peut consulter un camping car en cliquant sur l'image #}
                                            <a href={{ path('camping_car_show', {'id': camping_car.id}) }} title="{{ camping_car.marque }}">
                                                <img src='./img/campingcar/{{ camping_car.id }}.jpg' width="350" height="200" />
                                            </a>
                                            {# Div pour la description #}
                                            <div class='description'>
                                                <h2><b>{{ camping_car.marque }}</b></h2>
                                                <p><u>Prix :</u> {{ camping_car.prix }} €/Jour</p>
                                                <p><u>Description :</u>{{ camping_car.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{# Script Javascript #}
{% block javascripts %}
    {{ parent()}}
    <script>
        $(document).ready(function() {
            $('select');
        });
    </script>
{% endblock %}